@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model ProductDetail.API.Models.Category

<h2>Add Category</h2>
<form asp-action="Create" method="post">
    <div class="form-group">
        <label for="CategoryName">Category Name</label>
        <input type="text" asp-for="CategoryName" class="form-control" required />
        <span asp-validation-for="CategoryName" class="text-danger"></span> <!-- Error shown here -->
    </div>
    <button type="submit" class="btn btn-primary">Add Category</button>
</form>

